@model Proyecto_ED2.Models.Conversacion2
@{
	ViewBag.Title = "Mensajes";
	bool S = false;
	if (Model != null)
	{
		if (Model.receptor != null)
		{
			S = true;
		}
	}
}

@if (TempData["msm"] != null)
{
	<script type="text/javascript">
       alert("@TempData["msm"]");
	</script>
}
<head>
	<link href="~/Content/styleChat.css" rel="stylesheet" />
</head>

<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li>@Html.ActionLink("Cerrar Sesion", "SignIn", "Home")</li>
			</ul>
		</div>
	</div>
</div>

<form method="post">
	<div class="chatbox">
		<div class="chat-form">
			<h1>Receptor</h1><input class="form-control" name="receptor" type="text" style="width:auto" id="receptortxt" />
		</div>
		<div class="chatlogs">
			@{
				if (S)
				{
					<div class="chat friend">
						<div class="user-photo"><img src="~/Archivos/Default.png" /></div>
						<p class="chat-message"> Receptor</p>
					</div>
					<div class="chat self">
						<div class="user-photo"><img src="~/Archivos/Default2.png" /></div>
						<p class="chat-message">Emisor</p>
					</div>
				}
			}
		</div>
		<div class="chat-form">
			<input class="form-control" name="mensaje" type="text" style="width:80%"  id="mensajetxt"/>
			@*<button onclick="@Html.RenderAction("Usuario", "Mensajes", (Model.emisor, Model.receptor))">Enviar</button>*@
		</div>
	</div>
</form>