
@{
	ViewBag.Title = "Mensajes";
}

@if (TempData["msm"] != null)
{
	<script type="text/javascript">
       alert("@TempData["msm"]");
	</script>
}

<head>
	<link href="~/Content/PantallaDividida.css" rel="stylesheet" />
	<link href="~/Content/styleChat.css" rel="stylesheet" />
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				@Html.ActionLink("Refresh", "Mensajes", "Usuario", new { area = "" }, new { @class = "navbar-brand" })
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li>@Html.ActionLink("Cerrar Sesion", "SignIn", "Home")</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="row" no-gutters>
		<div class="col-md-6" no-gutters>
			<div class="leftside" no-gutters>
				<center>
					<h1>Mensajes </h1>
				</center>
			</div>
		</div>
		<div class="col-md-6">
			<div class="rightside" aling="center" no-gutters>

				<div class="chatbox">
					<div class="chatlogs">
						<div class="chat friend">
							<div class="user-photo"><img src="~/Archivos/Default.png"/></div>
							<p class="chat-message"> Hay mujeres maduras que quieren conocerte</p>
						</div>
						<div class="chat self">
							<div class="user-photo"><img src="~/Archivos/Default2.png" /></div>
							<p class="chat-message">KHE? en serio!?</p>
						</div>
					</div>
					<div class="chat-form">
						<textarea></textarea>
						<button>Enviar</button>
					</div>
				</div>

			</div>
		</div>
	</div>
</body>