body, html {
	height:100%;
	padding-top: 30px;
	padding-bottom: 10px;
	background-repeat: no-repeat;
	background-image: url(../Archivos/Fondo1.png);
	background-size: cover;
}

input, select, textarea {
    max-width: 280px;
}
